@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);



html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
}


.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;

    /*background-color: rgba(0, 0, 0, 0);*/
    margin-top: 60px;
}

.back {
    margin-bottom: 18px;
    margin-left: -110px;
    margin-right: 95px;
    width: 12px;
    height: 24px;
    cursor: pointer;
}



.logo {
    cursor: pointer;
    margin: 15px;
}


.ad_game {
    margin-top: 80px;
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/

    height: 440px;
    left: 31px;
    top: 117px;
    border-style: solid;
    border-width: 2.5px;
    border-color: #929292;
    border-radius: 20px;
    margin-bottom: 80px;
}


.ad_game_font {
    height: 40px;
    margin-top: 20px;
    font-family: "G마켓 산스 TTF Medium";
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}

.ad_game_box {
    display: flex;
    align-items: center;
}


.ad_game_image {
    border-radius: 10px;
    z-index: 1;
    position: relative
}

.ad_game_name {
    margin-top: 8px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.ad_game_tag {
    height: 16px;
    margin-top: 4px;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.ad_game_sum {
    height: 38px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #FF6900;
    text-align: center;
}


#adgamebutton {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 111px;
    height: 40px;
    color: white;
    background: none;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 20px;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
}

#adgamebutton:active {
    background: #D9D9D9;
    color: black;
    font-weight: bold;
}


.ad_game_box_black_1 {
    margin-top: -444px;
    height: 420px;
    width: 32px;
    background: black;
    margin-left: -16px;
}


.ad_game_box_black_2 {
    height: 420px;
    width: 32px;
    background: black;
    margin-left: 300px;
}


.popular_result_box {
    height: 186px;

    background: none;
}

.popular_result_font {
    height: 40px;
    font-family: "G마켓 산스 TTF Medium";
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}


.popular_result_left {
    background: black;
    margin-right: 20px;
}


.popular_result_right {
    background: black;
    margin-left: 20px;
}


.popular_result_slide_box {
    height: 130px;
    display: flex;
    align-items: center;
}

.popular_result_result {
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 20px;
}

.popular_result_game {
    border-radius: 20px;
}


.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    left: 0%;
}

.modalPost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    background-color: #fffef5;
    overflow: auto;
    overflow: x-hidden;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color:#FF8936;
}

.stars {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-top: -0.5em;
}

.FontAwesomeIcon {
    cursor: pointer;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-right: 6px;
}

.blank {

    color: #8A8A8A;
}

.modalstar {
    margin-top: 30px;
}

.lit {
    color: #FF8936;
    text-shadow: -1px 0 #FF6900, 0 1px #FF6900, 1px 0 #FF6900, 0 -1px #FF6900;
}


.modalPost2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 173px;
    background-color: #fffef5;
    overflow: auto;
    overflow: x-hidden;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color:#FF8936;
}









.NameQ {
    font-weight: bold;
    font-size: 20px;
    color: #FF6900;
    font-family: "Noto Sans KR";
}

.NameBox {
    height: 60px;
    width: 270px;
    border: 2px solid #FF8936;
    border-radius: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFAE68;

}

input::placeholder {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFAE68;
}

input:focus{
    outline: none;
}








.Email {
    font-family: "Noto Sans KR";
    font-size: 14px;
    color: #b4b4b4;
}





.modalHeadFont {
    color: white;
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
}



.modalSemiresult {
    font-family: "Pretendard";
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    color: #FFAE68;
}


.modalCon {
    border: 1px solid #FF8216;;
    padding: 20px;
}


.modalHead {

    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background: #FF8216;
    align-items: center;
}


.closeBtn {
    margin: 18px;
    width: 14px;
    height: 14px;
    color: #fffef5;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.closeBtn2 {
    margin: 9px;
    width: 14px;
    height: 14px;
    color: #fffef5;
    font-weight: bold;
    position: relative;
    z-index: 1;
}




.modalImage2 {
    margin: 7px 7px 7px 7px;
    width: 280px;
    height: 160px;
    margin-top: -26px;
    border-radius: 10px;
}


.modalTitle {
    font-family: "Gmarket Sans";
    width: 160px;
    text-align: start;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 20px;
}

.modalSemi {
    font-family: "Noto Sans KR";
    text-align: start;
    font-weight: lighter;
    width: 240px;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.modalDetail {
    font-family: "Noto Sans KR";
    text-align: start;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    margin: 10px 0px;
}

.closebox {
    display: flex;
    justify-content: end;
    margin-right: 0px;
}

.closebox2 {
    display: flex;
    justify-content: end;
    margin-right: 4px;
}


.tag {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 12px;
    color: #fffef5;
    background: #FF8216;
    border-radius: 20px;
    margin-right: 12px;
    margin-bottom: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.mainSubTitle {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B4B4B4;
}

.mainSubTitleBold {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    color: #FFAE68;
}

.mainTitle {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF8216;
}

.mainBox {
    display: flex;
    align-items: center;
}


.mainDesc {
    width: 300px;
    height: 123px;
    left: 31px;
    top: 117px;
    margin-top: 30px;
    background: #D9D9D9;
}


.home {
    margin-top: 60px;
}


.gameIntro {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    text-align: center;
    letter-spacing: -0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF8216;
    margin-bottom: 12px;
    margin-top: 30px;
}

.gameIntro2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;

    color: #B4B4B4;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 30px;
}

.homeGameIcon1 {

    margin-right: 4px;
}

.homeGameIcon2 {
    margin-top: 1px;
    margin-left: 4px;
}

.homeTitle {
    margin: 8px;
}


#homeGameBtn {
    background: #FF8216;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    width: 270px;
    height: 60px;
    border: 0px;
    cursor: pointer;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.08em;

    color: #FFFFFF;
    margin-bottom: 36px;
}

#homeGameBtn:active {
    background: #FF6900;
    border: none;
}


#recommend {
    background: #FF6900;
    border: none;
    border-radius: 32px;
    width: 240px;
    text-align: center;
    height: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin-top: 28px;
}

#recommend2 {
    background: #FF6900;
    border: none;
    border-radius: 32px;
    width: 240px;
    text-align: center;
    height: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}


#rightslidebutton {
    background: none;
    margin-left: 20px;
}

#leftslidebutton {
    background: none;
    margin-right: 20px;
}


.progress {
    background: linear-gradient(270deg, #FF8936 44.7%, #FF6900 100%);
    height: 19px;
    border-radius: 13.5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.progressRec-div {
    margin-top: 24px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    background: none;
    margin-bottom: 4px;

}

.progressRecEgg {
    display: flex;
    justify-content: space-between;
    background: none;

}


.progresschar {
    background: none;
    margin-bottom: 1px;
    margin-right: -20px;
}

.recommendnextImage{
    border-radius: 20px;
}


#homeSurveyBtn {
    background: #FF4337;
    border: none;
    border-radius: 32.5px;
    width: 300px;
    height: 60px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.genreBox1 {
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.genreButtonFocus {
    cursor: pointer;
    height: 38px;
    width: 62px;
    white-space: pre-wrap;
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;


    border: 0px;


    background: #FF8216;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}






.shareTextIcon {
    margin-left: 10px;

}


#loading {
    display: inline-block;
    padding: 100px;
    font-size: 20px;
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.resultText1 {
    font-family: "Gmarket Sans";
    font-weight: bold;
    font-size: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 150%;
    position: relative;
    z-index: 1;

}



.resultSub {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    justify-content: center;
    color: #FF8216;
    margin-bottom: 50px;
    margin-top: -10px;
}

.resultTextBox {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.resultImg2 {
    width: 300px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #929292;
    margin-top: 20px;
    border-radius: 20px;
}


.resultBar {
    margin-top: 0px;
    display: flow;
    align-items: center;
}

.resultText {
    display: inline-block;

    /*margin-bottom: */
}

.resultBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Gmarket Sans";
    font-size: 16px;
    color: white;
    margin-top: 40px;
}

.resultBoxgraph {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Gmarket Sans";
    font-size: 16px;
    color: white;

}


.resultRecommend {
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

#regameBtn {
    width: 128px;
    height: 40px;
    cursor: pointer;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #FF8936;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 26px;
    margin-bottom: 57px;
    display: flex;
    align-items: center;
    justify-content: center;

}


#scorebutton {
    background: none;
    border: #FF6900;
    border-radius: 10px;
    border: solid 2px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 16px;
    color: #FF6900;
}

#scorebutton:active {
    font-size: 16px;
    color: white;
    background: #FF6900;
    border-width: 0px;
}

.similarGame {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
}

.similarGameRanking {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FF8936;
}

.checktitle {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FF8936;

}

.checkSub{
    font-family: 'Pretendard';
    font-style: normal;
    width: 275px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF8216;
    margin-bottom: 60px;
}



.gameRating {
    display: flow;
    align-items: center;
    justify-content: center;
}


.gameRanking {
    border-radius: 20px;
}


.crown{
    margin-bottom: 8px;
}








@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
}


body {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: white;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    /*background-color: rgba(0, 0, 0, 0);*/
    margin-top: 60px;
}

.draggable{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-use-select: text;
    user-select: text;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.headerContainer {
    position: absolute;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    /* main1 */
    background: #FF6900;
}

.recTitle{
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF8936;
    justify-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.recName{
    height: 30px;
    background: #FF8936;
    border-radius: 22.1195px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.recdesc{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FF8936;
    width: 220px;
}

.rankingslidebox{
    width: 311px;
    height: 101px;
    border: 1px solid #FF8936;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: start;
}

.logo {
    cursor: pointer;
    margin: 15px;
}


.ad_game {
    margin-top: 80px;
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/

    height: 440px;
    left: 31px;
    top: 117px;
    border-style: solid;
    border-width: 2.5px;
    border-color: #929292;
    border-radius: 20px;
    margin-bottom: 80px;
}




.slide__image {
    display: block;
    width: 253px;
    height: 253px;
    object-fit: cover;
}

.slide__game_type{
    display: block;
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 30px;
}
.ranking__slide__game{
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 20px;
}

.slide__game {
    display: block;
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: -60px;
}

.slide__game__title{
    margin-top: 72px;
    margin-bottom: 10px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 800;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FF8216;
}



.slide__game__option{
    display: flex;
    justify-content: start;
}



.ad_game_font {
    height: 40px;
    margin-top: 20px;
    font-family: "Gmarket Sans";
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 12px;
}

.ad_game_box {
    display: flex;
    align-items: center;
}


.ad_game_image {
    border-radius: 10px;
    z-index: 1;
    position: relative
}

.ad_game_name {
    margin-top: 8px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.ad_game_tag {
    height: 16px;
    margin-top: 4px;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.ad_game_sum {
    height: 38px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #FF6900;
    text-align: center;
}


#adgamebutton {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 111px;
    height: 40px;
    color: white;
    background: none;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 20px;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
}

#adgamebutton:active {
    background: #D9D9D9;
    color: black;
    font-weight: bold;
}


.ad_game_box_black_1 {
    margin-top: -444px;
    height: 420px;
    width: 32px;
    background: black;
    margin-left: -16px;
}


.ad_game_box_black_2 {
    height: 420px;
    width: 32px;
    background: black;
    margin-left: 300px;
}


.popular_result_box {
    height: 186px;
    margin-bottom: 20px;
    background: none;
}

.popular_result_font {
    height: 40px;
    font-family: "G마켓 산스 TTF Medium";
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}


.popular_result_left {
    background: black;
    margin-right: 20px;
}


.popular_result_right {
    background: black;
    margin-left: 20px;
}


.popular_result_slide_box {
    height: 130px;
    display: flex;
    align-items: center;
}

.popular_result_result {
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 20px;
}

.popular_result_game {
    border-radius: 20px;
}


.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    left: 0%;
}



.stars {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-top: -0.5em;
}

.FontAwesomeIcon {
    cursor: pointer;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-right: 6px;
}

.blank {

    color: #8A8A8A;
}

.modalstar {
    margin-top: 30px;
}

.lit {
    color: #FF8936;
    text-shadow: -1px 0 #FF6900, 0 1px #FF6900, 1px 0 #FF6900, 0 -1px #FF6900;
}




.modalPost3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: #fffef5;
    overflow: auto;
    overflow: x-hidden;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border: 2px solid #FF8936;
}

.modalPost4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 220px;
    background-color: #fffef5;
    overflow: auto;
    overflow: x-hidden;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
}


.typedecs{
    background: #FF8936;
    border-radius: 32.488px;

    height: 21.71px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.rankingtypedecs{
    background: #FF8936;
    border-radius: 32.488px;
    height: 20px;
    width: 120px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    display: flex;
    line-height: 22px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: -10px;
    margin-left: 12px;
}

.rankingslidetext{
    font-family: 'Gmarket Sans';
    width: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
    color: #FF8216;
    justify-content: center;
}
.resultType{
    background: #FF8936;
    border-radius: 32.488px;
    height: 34.52px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38.52px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: -10px;
}

.TypeSub{
    display: flow;
}

.typeExample {
    width: 320px;
    display: flex;
    justify-content: center;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.typeExampleSemi {

    margin-left: -22px;
    font-weight: 300;
    margin-top: 2px;
    margin-bottom: 10px;
}

.serviceTitle {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
    color: #FF8216;
    margin-left: 32px;
}


.serviceSemibold {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: 15px;
    /* or 136% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FF8216;
}
.serviceSemi{

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    /* or 136% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFAE68;
}












.Contact {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    color: #FF8216;
}

.Email {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
    margin-top: 2px;
    color: #FF8216;
}
.Copyright{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AFAFAF;
    margin-bottom: 20px;
}

.servicecontent {

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 18px;
    /* or 200% */
    display: flex;
    justify-items: center;
    color: #8D8D8D;
    margin-left: -40px;
    margin-top: 16px;
    margin-bottom: -20px;
}
.servicecontentbold {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 18px;
    /* or 200% */

    display: flex;
    align-items: center;

    color: #FF8216;
}


.modalTitleresult {
    font-family: "Pretendard";
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #FF8216;
    margin-bottom: 10px;
}






.modalImage {
    margin: 12px;
    width: 276px;
    height: 226px;
    margin-top: -38px;
    border-radius: 10px;
}





.modalSemi {
    font-family: "Noto Sans KR";
    text-align: start;
    font-weight: lighter;
    width: 240px;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.modalDetail {
    font-family: "Noto Sans KR";
    text-align: start;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    margin: 10px 0px;
}

.closebox {
    display: flex;
    justify-content: end;
    margin-right: 0px;
}

.closebox2 {
    display: flex;
    justify-content: end;
    margin-right: 4px;
}






.mainDesc {
    width: 300px;
    height: 123px;
    left: 31px;
    top: 117px;
    margin-top: 30px;
    background: #D9D9D9;
}







#recommend {
    background: #FF6900;
    border: none;
    border-radius: 32px;
    width: 240px;
    text-align: center;
    height: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin-top: 28px;
}

#rightslidebutton {
    background: none;
    margin-left: 20px;
}

#leftslidebutton {
    background: none;
    margin-right: 20px;
}

.progress-div {
    background: #FFEAD8;
    border-radius: 13.5px;
}





.genreButton {
    white-space: pre-wrap;
    box-sizing: border-box;
    cursor: pointer;
    height: 38px;
    width: 62px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FF8216;
    border: 2.5px solid #FF8216;
    border-radius: 10px;
    background: white;
}





.shareIcon {
    margin-right: 7px;
    cursor: pointer;

}

.shareText {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 10.6667px;
    line-height: 13px;
    text-align: center;
    color: #BABABA;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.shareText2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 10.6667px;
    line-height: 13px;
    text-align: center;
    justify-content: center;
    color: #FFAE68;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}


#loading {
    display: inline-block;
    padding: 100px;
    font-size: 20px;
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.resultImg1 {
    width: 320px;
    height: 120px;
    background: #929292;
    margin-top: 40px;
}

.resultImg2 {
    width: 300px;
    height: 280px;
    background: #929292;
    margin-top: 20px;
}

.resultImg3 {
    width: 320px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-family: "Noto Sans KR";
    text-align: center;
    font-weight: 200;
    color: white;
    line-height: 160%;
    display: flex;
    align-items: start;
    justify-content: center;
    background: none;
}


.resultText {
    display: inline-block;
    /*margin-bottom: */
}

#resultGameBtn {
    width: 300px;
    height: 54px;
    border: 0px;
    background: #FF8936;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.07em;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 26px;
    cursor: pointer;
}


#resultGameBtn:active {
    background: #FF6900;
    border: none;
}

#regameBtn:active {
    background: #FF6900;
    border: none;
}

.resultRecommend {
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}



.resetresult{
    margin-top: 2px;
    margin-left: 2px;
}

#scorebutton {
    background: none;
    border: #FF6900;
    border-radius: 10px;
    border: solid 2px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 16px;
    color: #FF6900;
}

#scorebutton:active {
    font-size: 16px;
    color: white;
    background: #FF6900;
    border-width: 0px;
}






#allGameBtn {
    background: #FF8216;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    width: 270px;
    height: 42px;
    margin-top: 20px;

    left: calc(50% - 258.63px/2 - 0.5px);
    top: calc(50% - 17px/2 - 193px);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.08em;
    color: #FFFFFF;
}

#allTypeBtn:active {
    background: #FF6900;
    border: none;
}


#allTypeBtn {
    background: #FF8216;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 42px;
    margin-top: 12px;
    cursor: pointer;
    left: calc(50% - 258.63px/2 - 0.5px);
    top: calc(50% - 17px/2 - 193px);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.08em;
    color: #FFFFFF;

}

.tutorialBtn {
    margin-top: 20px;
    margin-bottom: 50px;
}

#tutorialBtn {
    cursor: pointer;
    width: 270px;
    height: 48px;
    background: #FF8216;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 0px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    justify-content: center;

    color: #FFFFFF;
}

.btn_login {
    margin-top: 20px;
    margin-bottom: 50px;
}

#buttonLoginDisabled{

    width: 270px;
    height: 48px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 0px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    justify-content: center;

    color: #FFFFFF;
    background: #FFAE68;
    cursor:not-allowed;
}



#btn_login {
    cursor: pointer;
    width: 270px;
    height: 48px;
    background: #FF8216;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 0px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    justify-content: center;

    color: #FFFFFF;
}

#btn_login:active {
    background: #FF6900;
    border: none;
}

#allGameBtn:active {
    background: #FF6900;
    border: none;
}

#tutorialBtn:active {
    background: #FF6900;
    border: none;
}


.tutorialText {
    white-space: pre-wrap;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    color: #FF8216;
}


.questionImg {
    margin-top: 32px;
}
.typesubimg{
    width: 95px;
    height: 95px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}



.testAnswer {
    white-space: pre-wrap;
    width: 270px;
    height: 66px;
    border: 3px solid #FF8936;
    border-radius: 15px;
    background-color: white;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FF8936;
    margin-top: 15px;
}


.testAnswer:active {
    background: #FF8216;
    border-radius: 15px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.testAnswer:visited {
    color: #000000;
}

.h3Container {
    margin-top: 180px;
    margin-bottom: 100px;
}

.resultH3 {
    font-family: "GmarketSansBold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FF6900;
    margin: 2px;
}

.questionTxt {
    margin-top: 110px;
    white-space: pre-wrap;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF8216;
}

.questionTxtImage {
    position: absolute;
    margin-top: 20px;
}

.servicebox1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 233px;
    width: 295px;
}
.servicebox2{
    position: absolute;
    margin-top: 4px;
}

.servicebox3{
    display: flow;
    justify-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left:  auto;
}

#questionDiv {
    /*display: inline-block;*/
    /*padding: 100px;*/
    /*font-size: 20px;*/
    animation: fadein 1.5s ease-in-out;
    margin-bottom: 20px;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.recGameImg {

    margin-bottom: 25px;
    border: 0.846667px solid #000000;
    filter: drop-shadow(0px 3.38667px 3.38667px rgba(0, 0, 0, 0.25));
    border-radius: 14.3933px;
}

.recGameAll {
    color: white;
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}



.recinfo {
    display: flex;
    justify-content: space-around;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF8936;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 36px;
}

.rectag {
    display: flex;
    justify-content: space-around;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF8936;
    margin-left: 30px;
    margin-right: 30px;
}



.divideLine {
    margin-top: 1px;
    width: 1px;
    height: 12px;
    background: #b4b4b4;

}

#recGenreButton {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 9.34307px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 91.97px;
    height: 20.55px;
    color: #8D8D8D;
    background: #FFDDBF;
    border: none;
    border-radius: 7.47445px;
    margin-right: 12px;
    line-height: 14px;
}

.playstore {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #FF6900;
    margin-bottom: 60px;

}

.rating {
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 12.7867px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FF8936;
    justify-content: space-around;
}

.rating2 {
    margin-top: 10px;
    display: flex;
    color: rgba(0, 0, 0, 0);
    justify-content: space-around;
    font-family: "Noto Sans KR";
    align-items: center;
    margin-bottom: -10px;
}


#already {
    background: none;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 12.7867px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    justify-content: center;
    color: #ffbd8d;
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: -8px;
}


#goodButton {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    color: #FF8936;
    border: 0.913333px solid #FF8936;
    filter: drop-shadow(0px 3.65333px 18.2667px rgba(0, 0, 0, 0.2));
    border-radius: 29.2267px;
    width: 84.03px;
    cursor: pointer;
}

#goodButton:focus {
    background: #FF8936;
    color: white;
}


#badButton {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    color: #FF8936;
    border: 0.913333px solid #FF8936;
    filter: drop-shadow(0px 3.65333px 18.2667px rgba(0, 0, 0, 0.2));
    border-radius: 29.2267px;
    width: 84.03px;
    cursor: pointer;
}

#badButton:focus {
    background: #FF8936;
    color: white;
    cursor: pointer;
}


#recNextButton {
    margin-top: 45px;
    background: #FFAE68;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    height: 54px;
    width: 300px;
    border: none;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;

}

.resetButton {
    margin-top: 20px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #B4B4B4;
    cursor: pointer;
    margin-bottom: 60px;
}