@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
}


body {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: black;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;

    /*background-color: rgba(0, 0, 0, 0);*/
    margin-top: 60px;
}

.back {
    margin-bottom: 18px;
    margin-left: -120px;
    margin-right: 95px;
    cursor: pointer;
}


.headerContainer {
    position: absolute;
    width: 100%;
    height: 60px;
    max-height: 60px;
    left: 0px;
    top: 0px;

    /* main1 */
    background: #FF6900;
}

.logo {
    cursor: pointer;
    margin: 15px;
}


.ad_game{
    margin-top: 80px;
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    width: 300px;
    height: 440px;
    left: 31px;
    top: 117px;
    border-style: solid;
    border-width: 2.5px;
    border-color: #929292;
    border-radius: 20px;
    margin-bottom: 80px;
}

.ad_game_font{
    height: 40px;
    margin-top: 20px;
    font-family: "G마켓 산스 TTF Medium";
    text-align: center;
    line-height : 40px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-bottom: 12px;
}

.ad_game_box{
    display: flex;
    align-items: center;
}


.ad_game_image{
    border-radius: 10px;
    z-index: 1;
    position:relative
}
.ad_game_name{
    margin-top: 8px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.ad_game_tag{
    height: 16px;
    margin-top: 4px;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.ad_game_sum{
    height: 38px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #FF6900;
    text-align: center;
}


#adgamebutton {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 111px;
    height: 40px;
    color: white;
    background: none;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
}


.ad_game_box_black_1{
    margin-top: -444px;
    height: 420px;
    width: 32px;
    background: black;
    margin-left: -16px;
}


.ad_game_box_black_2{
    height: 420px;
    width: 32px;
    background: black;
    margin-left: 300px;
}


.popular_result_box{
    height: 186px;

    background: none;
}

.popular_result_font{
    height: 40px;
    font-family: "G마켓 산스 TTF Medium";
    text-align: center;
    line-height : 40px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-bottom: 12px;
}



.popular_result_left{
    background: black;
    margin-right: 20px;
}


.popular_result_right{
    background: black;
    margin-left: 20px;
}


.popular_result_slide_box{
    height: 130px;
    display: flex;
    align-items: center;
}

.popular_result_result{
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 20px;
}

.popular_result_game{
    border-radius: 20px;
}



.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    left: 0%;
}

.modalPost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    background-color: #fffef5;
    overflow: auto;
    overflow: x-hidden;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: #FF6900
}



/*.modalHeadFont {*/
/*    color: #fffef5;*/
/*    font-family: "GmarketSansLight";*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    margin: 11px;*/
/*}*/

.closeBtn {
    margin: 18px;
    width: 14px;
    height: 14px;
    color: #fffef5;
    font-weight: bold;
    position:relative;
    z-index: 1;

}



.modalCon {
    margin: 12px;
    width: 276px;
    height: 226px;
    margin-top: -38px;
    border-radius: 10px;
    background: url("./images/game.png") repeat;
}

.modalTitle {
    font-family: "GmarketSansBold";
    width: 160px;
    text-align: start;
    font-size: 16px;
    font-weight: normal;
    padding-top: 30px;
    margin-left: 20px;
    color: white;
}

.modalSemi {
    font-family: "Noto Sans KR";
    text-align: start;
    font-weight: lighter;
    width: 240px;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.modalDetail {
    font-family: "Noto Sans KR";
    text-align: start;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    margin: 10px 0px;
}

.colsebox{
    display: flex;
    justify-content: end;
    margin-right: 0px;
}


.tag {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 12px;
    color: #fffef5;
    background: #6999b5;
    border-radius: 100px;
    margin-right: 12px;
    margin-bottom: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tagContainer {
    display: flex;
    flex-wrap: wrap;
}









.mainDesc {
    width: 300px;
    height: 123px;
    left: 31px;
    top: 117px;
    margin-top: 30px;
    background: #D9D9D9;
}


.home {
    margin-top: 60px;
}


.gameIntro{
    color:white;

}


.homeTitle {
    margin: 8px;
}


#homeGameBtn {
    background: #FF6900;
    border: none;
    border-radius: 32.5px;
    width: 300px;
    height: 60px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}


#recommend {
    background: #FF6900;
    border: none;
    border-radius: 32px;
    width: 240px;
    text-align: center;
    height: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position:relative;
    z-index: 1;
    margin-top:28px;
}




#rightslidebutton {
    background: none;
    margin-left: 20px;
}

#leftslidebutton {
    background: none;
    margin-right: 20px;
}

.progress-div {
    background-color: #FF8936;
}

.progress {
    background-color: #FF8936;
    height: 8px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.progresschar{
    background: none;
    margin-bottom: 1px;
    margin-right: -20px;
}


#homeSurveyBtn {
    background: #FF4337;
    border: none;
    border-radius: 32.5px;
    width: 300px;
    height: 60px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}


.shareIcon {
    margin: 5px;
    cursor: pointer;
    padding: 1px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.shareText{
    margin-bottom: 10px;
    color: white;
}

.shareTextIcon{
    margin-left: 10px;
}


#loading{
    display: inline-block;
    padding: 100px;
    font-size:20px;
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

#resultAll {
    background-color: #6aa99e;
    border: none;
    border-radius: 32.5px;
    width: 170px;
    height: 64px;
    cursor: pointer;
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 14px;
    color: #fffef5;
}